*.log
*.pdf
*.omc
*.omakedb
*.blg
*.out
*.fls
*.toc
*.aux
*.dvi
*.fdb_latexmk
*.bbl
*.run.xml
*.omakedb.lock
*.vrb
*.swp
*.synctex.gz
*.cmi
*.cmo
*.cmt
*.cmti
*.bcf
*.nav
*.snm
*.DS_Store
*.o
*.bin
*.lock
*.bak
